/**
 * Copyright 2005-2016 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* tweaks to jstree css for agenda tree view */



a.logicNode { border: 1px solid #ccd; background-color:#dde; /* -moz-border-radius: 3px; border-radius: 3px; */ font-weight: bold; padding-bottom: 2pt; padding-top: 2pt;
                padding-left: 10pt; padding-right: 10pt; margin-bottom: 2pt; }

.logicNode .jstree-open { margin-bottom: 2pt; }

.krmsDisabled 
{ 
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

/* trying to make the tree not so cramped: */

.jstree-default li.jstree-last { margin-bottom: 5pt; }

.jstree li { margin-top 3pt; }

.krms-rulesButtonBar{
    text-align: left;
    margin-top: 3px;
}

.krms-rulesButtonBar .boxLayoutHorizontalItem{
    margin: 0px;
    padding: 0px;
    float: none;
    display: inline;
}

.tree-bar-button { padding-right: 1em; padding-left: 1em; }

#AgendaEditorView-TreeControls_span .boxLayoutHorizontalItem {
    float: none;
    display: inline;
    margin-right: 0em;
    text-align: center;
}

#AgendaEditorView-TreeControls_span {
    text-align: center;
}