/**
 * Copyright 2005-2016 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.ks-subterm-icon {
    border: 1px solid black;
    padding: 0 5px;
}

.ks-dropWaitlistDialog .modal-body {
    display: none;
}

.ks-dropWaitlistDialog .modal-footer {
    margin: 0;
}

.uif-readOnlyStringList li {
    list-style: none !important;
}

#KS-AdminRegistration .uif-page {
    padding-top: 0;
}

#KS-AdminRegistration-StudentInfo {
    background-color: #d3d3d3;
    padding-top: .5em;
    margin-left: -15px;
    margin-right: -15px;
}

#KS-AdminRegistration-StudentInfo .uif-cssGridLabelCol {
    width: auto;
}

#KS-AdminRegistration-StudentInfo [class*="col-"] {
    margin: 0;
    padding: 0;
}

#KS-AdminRegistration-StudentInfo .uif-messageField,
#KS-AdminRegistration-StudentInfo .uif-label,
#KS-AdminRegistration-RegistrationTabs > header > .uif-header-lowerGroup .uif-label{
    padding-top: .5em;
    padding-right: .5em;
    padding-left: 1em;
}

#KS-AdminRegistration-RegistrationTabs > header > h3 {
    margin-top: 9px;
}

#KS-AdminRegistration-RegistrationTabs > header > h3,
#KS-AdminRegistration-RegistrationTabs > header > .uif-header-lowerGroup .uif-label {
    float: left;
}

#KS-AdminRegistration-RegistrationTabs > header > .uif-header-lowerGroup {
    float: left;
    clear: none;
    padding-top: .5em;
}

#KS-AdminRegistration-Issues,
#KS-AdminRegistration-RegFor {
    margin-top: 1em;
}

#KS-AdminRegistration-Issues table,
#KS-AdminRegistration-Issues td,
#KS-AdminRegistration-RegFor table,
#KS-AdminRegistration-RegFor td {
    border: none;
}

#KS-AdminRegistration-RegFor .uif-collection-column-action label,
#KS-AdminRegistration-Issues .uif-collection-column-action label {
    display: none;
}

#KS-AdminRegistration-Issues th {
    background: none;
    border: none;
    border-bottom: 1px solid gray;
}

#KS-AdminRegistration-RegFor table {
    width: auto;
    margin: 0;
}

#KS-AdminRegistration-RegFor th,
#KS-AdminRegistration-RegFor td{
    background: none;
    border: none;
    padding: 0 .5em .3em 0;
}

#KS-AdminRegistration-Issues td {
    color: #83652e;
    font-weight: bold;
}

#KS-AdminRegistration-Issues td .uif-readOnlyStringList {
    font-weight: normal;
}

#KS-AdminRegistration-Registered > header,
#KS-AdminRegistration-Waitlist > header{
    height: 3em;
    background-color: #d3d3d3;
}

#KS-AdminRegistration-Registered > header > h4,
#KS-AdminRegistration-Waitlist > header > h4{
    padding-top: .5em;
    padding-left: 5px;
}

#KS-AdminRegistration-Registered table,
#KS-AdminRegistration-Waitlist table,
#KS-AdminRegistration-DialogCollection table,
#KS-AdminRegistration-Registered td,
#KS-AdminRegistration-Waitlist td,
#KS-AdminRegistration-DialogCollection td,
#KS-AdminRegistration-Registered th,
#KS-AdminRegistration-Waitlist th,
#KS-AdminRegistration-DialogCollection th{
    border: none;
}

#KS-AdminRegistration-Registered tr,
#KS-AdminRegistration-Waitlist tr,
#KS-AdminRegistration-DialogCollection tr{
    border-bottom: 1px solid #d3d3d3;
}