/**
 * Copyright 2005-2016 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@font-face {
    font-family: 'oswaldregular';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	font-size: 100%;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}
a {
	color: #900000;
}

/** Header customizations ****************************************************************************/

.uif-header {
	margin: 0px;
}
.uif-headerText {
	margin: 5px 0 5px 0;
}
h1.uif-headerText {
	font-family: oswaldregular, Arial, Helvetica, sans-serif;
	font-weight:;
	font-size: 2em;
	letter-spacing: .04em;
	font-weight:normal;
}
.uif-documentView .uif-viewHeader h1.uif-headerText {
	margin: 0 0 0 15px;
	padding: 0.5em 0;
}
h2.uif-headerText {
	border: none;
	font-size: 1.3em;
	font-weight:bold;
		font-family: Verdana, Geneva, sans-serif;
		margin-bottom:20px;
}
h3.uif-headerText {
	color: #FFF;
	background: #666;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
	font-size:1.1em;
}
h3.uif-headerText a {
	color: #FFF;
}
h4.uif-headerText {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-family: Verdana, Geneva, sans-serif;
}
h5.uif-headerText { text-transform: none;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-family: Verdana, Geneva, sans-serif;
}
h6.uif-headerText {
	 text-transform: none;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-family: Verdana, Geneva, sans-serif;
}

.uif-header.uif-subSectionHeader[data-header_for="Uif-AdHocPersonCollection"] .uif-headerText,
.uif-header.uif-subSectionHeader[data-header_for="CollectionGroup_AdHocWorkgroup"] .uif-headerText {
	background: #C3C3C3;
	margin: 0px;
	padding:4px;
}
.uif-header.uif-subSectionHeader[data-header_for="CollectionGroup_AdHocWorkgroup"] .uif-headerText { margin-top:-10px;}

.uif-viewHeader{
    background: url(../../images/kns/masthead1.png);
}

.uif-viewHeader {
    padding: 1em 0 1em 15px;
}
.uif-viewHeader h1.uif-headerText {
	margin-top: 0px;
}
/** this is so the grid layout appears attached to it's header - no spacing **/
.uif-gridGroup > .uif-header > a > .uif-headerText, .uif-gridGroup > .uif-header > .uif-headerText {
	margin-bottom: 0px;
}
h2 img.uif-disclosure-image[alt="expand"] {
	background: url(../../images/h2_expand-back-kns.png);
	background-repeat: no-repeat;
}
h2 img.uif-disclosure-image[alt="collapse"] {
	background: url(../../images/h2_collapse-back-kns.png);
	background-repeat: no-repeat;
}
h3 img.uif-disclosure-image[alt="expand"] {
	background: url(../../images/h3_expand-back-kns.png);
	background-repeat: no-repeat;
}
h3 img.uif-disclosure-image[alt="collapse"] {
	background: url(../../images/h3_collapse-back-kns.png);
	background-repeat: no-repeat;
}
h4 img.uif-disclosure-image[alt="expand"] {
	background: url(../../images/h3_expand-back-kns.png);
	background-repeat: no-repeat;
}
h4 img.uif-disclosure-image[alt="collapse"] {
	background: url(../../images/h3_collapse-back-kns.png);
	background-repeat: no-repeat;
}
/* Footer *********************************************************************************************/
.uif-footer {
	text-align: center;
}
/* Buttons ********************************************************************************************/
.uif-primaryActionButton:hover, .uif-secondaryActionButton:hover, label.uif-primaryDialogButton:hover {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a90329', endColorstr = '#6d0019', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* W3C */
	color: #FFFFFF;
	text-shadow: none;
}
.uif-primaryActionButton, .uif-secondaryActionButton, label.uif-primaryDialogButton {
	font-weight: bold;
	text-transform: lowercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	border: 1px solid #999;
	color: #900000;
	padding: .1em 2.1em;
	text-shadow:1px 1px 0px #f2f2f2;
}
.uif-secondaryActionButton {
	font-weight: normal;	
	
}
.uif-primaryActionButton[disabled], .uif-secondaryActionButton[disabled], .uif-primaryActionButton[disabled]:hover, .uif-secondaryActionButton[disabled]:hover {
	color: #900000;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	-moz-opacity: 0.44;
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	cursor: default;
}


.uif-smallActionButton {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}



/* Datepicker customizations *********************************************************************/
.ui-state-hover {
	border: 1px solid #054ccf;
	background-image: -moz-linear-gradient(top, #ffffff, #c3d1f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #c3d1f2));
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#c3d1f2')";    */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#ffffff', endColorstr = '#c3d1f2'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#c3d1f2')"; /* IE8 */
	font-weight: normal;
	color: #2c60e5;
	text-shadow: none;
	filter: none;
}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-disabled {
	border: 1px solid #a6a6a6;
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dcdcdc));
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dcdcdc')";    */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#ffffff', endColorstr = '#dcdcdc'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc')"; /* IE8 */
	color: #686868;
	background-color: #CCC;
	text-shadow: none;
	opacity: .75;
	filter: Alpha(Opacity = 75);
}
.ui-state-disabled2 {
	border: 1px solid #a6a6a6;
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dcdcdc));
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dcdcdc')";        */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#ffffff', endColorstr = '#dcdcdc'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc')"; /* IE8 */
	color: #686868;
	background-color: #CCC;
	text-shadow: none;
	opacity: .75;
	filter: Alpha(Opacity = 75);
}
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-datepicker-week-end .ui-datepicker-other-month .ui-datepicker-unselectable .ui-state-disabled {
	background-color: #ffffff;
}
.ui-datepicker .ui-state-highlight {
	border: 1px solid #FF0000;
	color: #900000;
	background-color: #ffffff;
}
.ui-datepicker .ui-state-hover {
	border-color: #000000;
	color: #ffffff;
	background-color: #900;
}
.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
	background: #CCC;
	border: 1px solid #999;
}
.ui-datepicker .ui-state-active {
	border: 1px solid #6A0000;
	background: rgb(169, 3, 41); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a90329', endColorstr = '#6d0019', GradientType = 0); /* IE6-8 */
	/* font styling */
	color: #ffffff;
}
.ui-datepicker-header {
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top, #d3d3d3 0%, #9b9b9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #9b9b9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d3d3d3 0%, #9b9b9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d3d3d3 0%, #9b9b9b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d3d3d3 0%, #9b9b9b 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d3d3d3', endColorstr = '#9b9b9b', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #d3d3d3 0%, #9b9b9b 100%); /* W3C */
}

.ui-datepicker .ui-datepicker-buttonpane button {
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff; /* Old browsers */
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* W3C */
	color: #900000;
	border: 1px solid #999;
	cursor: pointer;
	font-sizeee: 0.9em;
	text-transform: lowercase;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover {
	background: rgb(153, 153, 153);
	background: -moz-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(51, 51, 51, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153, 153, 153, 1)), color-stop(100%, rgba(51, 51, 51, 1)));
	background: -webkit-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(51, 51, 51, 1) 100%);
	background: -o-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(51, 51, 51, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #999999, endColorstr = #333333, GradientType = 0);
    /* IE7 or older */
    ms-filter: progid: DXImageTransform . Microsoft . gradient(startColorstr = #999999, endColorstr = #333333, GradientType = 0);
	/*IE8 */
	background: linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(51, 51, 51, 1) 100%);
	color: #ffffff;
	border: 1px solid #999;
	cursor: pointer;
}
/** Dialog Box *********************************************************************************************/
.uif-dialogHeader {
	/*    background: #99de80; *//* for non-css3 browsers *//*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4FAA2D', endColorstr='#99de80'); *//* for IE *//*
    background: -webkit-gradient(linear, left top, left bottom, from(#4FAA2D), to(#99de80)); *//* for webkit browsers *//*
    background: -moz-linear-gradient(top,  #4FAA2D,  #99de80); *//* for firefox 3.6+ */
	padding: 5px 5px 5px 5px;
	margin-bottom: 15px;
}
.uif-dialogPrompt {
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}
.uif-dialogExplanation {
	padding: 0px 5px 5px 5px;
	margin-bottom: 10px;
}
/** Navigation Menu ****************************************************************************************/
li.uif-navigationItem a {
	color: #900000;
}
li.uif-navigationItem a:hover, li.uif-navigationItem a:focus {
	color: white;
	background: #900000;
}
li.uif-navigationItem-current a, li.uif-navigationItem-current a:hover {
	color: white;
	background: black;
}
/* Tab navigation customizations **********************************************************************************/

.tab-navigation-block {
	border-bottom: 1px solid #CCC;
}
/* Jquery Tab customizations **********************************************************************************/

.ui-corner-top {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ui-tabs .ui-widget-header {
	background: none;
	border: none;
}
.ui-tabs-nav li.ui-state-default, .tab-navigation-block li {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #f2f2f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc');
	background-color:#e6e6e6;
	border:1px solid #cccccc;
    font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #f2f2f2;

}






.ui-tabs-nav.ui-helper-reset.ui-widget-header .ui-state-default {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #f2f2f2;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #cccccc) );
	background: -moz-linear-gradient( center top, #e6e6e6 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc');
	background-color: #e6e6e6;
	border: 1px solid #cccccc;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #f2f2f2;
}






.ui-tabs-nav.ui-helper-reset.ui-widget-header .ui-state-default.ui-corner-top a {
	color: #000;padding: .5em;
}

.ui-tabs-nav.ui-helper-reset.ui-widget-header .ui-state-default.ui-tabs-selected.ui-state-active {
	background: #FFF;
}




.tab-navigation-block li:hover, .ui-tabs.ui-widget.ui-widget-content.ui-corner-all li:hover{
	background: #900000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #600;
	border-right: 1px solid #600;
	border-bottom: 1px none #600;
	border-left: 1px solid #600;
	 }
	 
	
.ui-tabs.tab-navigation-block .uif-action.uif-actionLink.uif-navigationActionLink{
	color: #333;
	
}

.ui-tabs.tab-navigation-block .uif-action.uif-actionLink.uif-navigationActionLink:hover,
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all a:hover
 {
	color: #fff;
	text-shadow: none;
	
}

.ui-tabs.tab-navigation-block .ui-state-active .uif-action.uif-actionLink.uif-navigationActionLink:hover,
.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a:hover  {
	color: #000;
}

.ui-tabs-nav li.ui-state-active, .tab-navigation-block li.ui-state-active,
.ui-tabs-nav li.ui-state-active.ui-state-hover{
	background: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}

div.ui-tabs.ui-widget-content {
	border: none;
	border-radius: 0;
}
.ui-tabs-nav li.ui-state-hover a, .ui-tabs-nav li.ui-state-focus a, .tab-navigation-block li.ui-state-hover a, .tab-navigation-block li.ui-state-focus a {
	color: #ffffff;
}
.ui-tabs-nav li.ui-state-hover a:hover, .ui-tabs-nav li.ui-state-focus a:hover, .tab-navigation-block li.ui-state-hover a:hover, .tab-navigation-block li.ui-state-focus a:hover {
	color: #ffffff;
}
.ui-tabs-nav li.ui-state-active a, .tab-navigation-block li.ui-state-active a .ui-tabs-nav li.ui-state-active a:hover, .tab-navigation-block li.ui-state-active a:hover, .ui-tabs-nav li.ui-state-active a:focus, .tab-navigation-block li.ui-state-active a:focus {
	color: black;
}
.ui-tabs .ui-tabs-panel {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #CCC;
	clear: left;
	display: block;
	padding: 1em 1.4em;
}
/** jQuery UI customizations ******************************************************************************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: none;
	background-color: #ffffff;
	font-weight: normal;
	color: #900000;
}
.ui-state-default a, .ui-state-default a:link {
	color: #9c1c1c;
	text-decoration: none;
	font-sizeee: inherit;
}
.ui-widget-header {
	border: 1px solid #666666;
}
.ui-widget-header .ui-icon {
	background: url(../../plugins/jqueryUI/images/ui-icons_454545_256x240.png);
}
.ui-icon.ui-icon-circle-triangle-e {
	background-position: -112px -192px;
}
.ui-icon.ui-icon-circle-triangle-w {
	background-position: -144px -192px;
}
/** Datatable customizations *********************************************************************/

.dataTables_scrollBody thead tr th.sorting_asc, .dataTables_scrollBody thead tr th.sorting_desc, .dataTables_scrollBody thead tr th.sorting {
	background: none;
}
.dataTables_info {
	margin-top: 5px;
}
.dataTables_length {
	margin-bottom: 5px;
}
.datatable .field_attribute {
	float: none;
}

table.dataTable thead th {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

.dataTables_wrapper {
	margin-top: 10px;
}
.dataTables_wrapper .DTTT_container { margin-right:20px}

.dataTables_wrapper .DTTT_container .DTTT_button.DTTT_button_text {
    text-transform: lowercase;
    border: 1px solid #CCC;
    color: #666666;
    text-shadow: 1px 1px 0px #f2f2f2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
    height: inherit;
    margin-top:1px;
    font-size:10px;
}


.dataTables_wrapper .DTTT_container .DTTT_button.DTTT_button_text_hover {

    text-transform: lowercase;
    color: #666666;
    text-shadow: 1px 1px 0px #f2f2f2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: inherit;
    margin-top:1px;
    font-size:10px;
    border: 1px solid #999;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    height: inherit;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
}



.sorting_asc {
	filter: none;
	background: #e5e5e5 url(../../images/kns/sort_asc.png) no-repeat right center;
	background: url(../../images/kns/sort_asc.png) no-repeat right center, -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url(../../images/kns/sort_asc.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: url(../../images/kns/sort_asc.png) no-repeat right center, -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: url(../../images/kns/sort_asc.png) no-repeat right center, -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: url(../../images/kns/sort_asc.png) no-repeat right center, -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: url(../../images/kns/sort_asc.png) no-repeat right center, linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
.sorting_desc {
	filter: none;
	background: #e5e5e5 url(../../images/kns/sort_desc.png) no-repeat right center;
	background: url(../../images/kns/sort_desc.png) no-repeat right center, -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url(../../images/kns/sort_desc.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: url(../../images/kns/sort_desc.png) no-repeat right center, -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: url(../../images/kns/sort_desc.png) no-repeat right center, -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: url(../../images/kns/sort_desc.png) no-repeat right center, -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: url(../../images/kns/sort_desc.png) no-repeat right center, linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
.sorting {
	filter: none;
	background: #e5e5e5 url(../../images/kns/sort_both.png) no-repeat right center;
	background: url(../../images/kns/sort_both.png) no-repeat right center, -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url(../../images/kns/sort_both.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: url(../../images/kns/sort_both.png) no-repeat right center, -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: url(../../images/kns/sort_both.png) no-repeat right center, -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: url(../../images/kns/sort_both.png) no-repeat right center, -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: url(../../images/kns/sort_both.png) no-repeat right center, linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
.sorting_disabled {
	filter: none;
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
.sorting_asc_disabled {
	filter: none;
	background: #e5e5e5 url(../../images/kns/sort_asc_disabled.png) no-repeat right center;
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: url(../../images/kns/sort_asc_disabled.png) no-repeat right center, linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
.sorting_desc_disabled {
	filter: none;
	background: #e5e5e5 url(../../images/kns/sort_desc_disabled.png) no-repeat right center;
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	background: url(../../images/kns/sort_desc_disabled.png) no-repeat right center, linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
/* Table Collections *************************************************************************************/

table.uif-tableCollectionLayout {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #CCC;
	border-collapse: collapse;
}
table.uif-tableCollectionLayout tbody tr {
	border-bottom: 1px solid #ccc;
}

th {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
	font-weight: bold;
	text-align: right;
	padding: 0.5em;
	border-width: 1px;
	border-style: inset;
	border-color: #ccc;
}
table.uif-tableCollectionLayout td {
	border: 1px solid #CCC;
	border-collapse: collapse;
}
table.uif-gridLayout td {
	border: 1px solid #CCC;
	border-collapse: collapse;
	background-color: white;
}
table.uif-tableCollectionLayout tbody tr.uif-addLine > td {
	background: transparent;
}
/* Stacked collections *********************************************************************************/
.uif-stackedCollectionLayout .uif-stackedCollectionLayout {
	border: none;
	background-image:none;
}

.uif-stackedcollectionlayout {
background-image:none;
padding:0px;
}

/** Breadcrumbs **********************************************************************************/
span.uif-breadcrumbs {
	display: block;
	color: #ffffff;
	background-color: #666;
	padding-top: 4px;
	padding-bottom: 4px;
}
span.uif-breadcrumbs a {
	color: #ffffff;
}
.uif-stackedCollectionLayout {
	padding: 0px;
	background-image:none;
}
.uif-stackedCollectionLayout > .uif-collectionItem {
	display: block;
	margin-bottom: 10px;
	padding: 0px;
	background-color: white;
}
 .uif-navigationMenu-wrapper .uif-navigationItem .uif-headerText {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #DEE1E1;
}

.uif-informationalMessage {
	color: #999;
	font-size: 0.85em;
	font-style: italic;
}

/** Syntax highlighter  */
.uif-syntaxHighlighter   {
    position: relative;
}

.uif-syntaxHighlighter .uif-copyPaste  {
    background: url("../../images/icon-copypaste.png") repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: none;
    height: 26px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 26px;
}

.uif-syntaxHighlighter:hover .uif-copyPaste{
    display : block;
}
